<footer>
        <!-- Include Modernizr in the head, before any other Javascript -->
    <!--<script src="/static/js/modernizr-2.6.2.min.js"></script>-->
    <!-- All Javascript at the bottom of the page for faster page loading -->
    <script src="/static/js/jquery.min.js"></script>
    <!--<script src="/static/js/jquery-ui.min.js"></script> ENABLE WHEN DUE DATE FEATURE IS REQUIRED-->

    <!-- If no online access, fallback to our hardcoded version of jQuery
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.8.2.min.js"><\/script>')</script>
        -->
    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"></script>

</footer>

</body>
</html>